body {
  background-color: #121826;
  color: #a1a1a9;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.gradiente {
  position: fixed;
  top: -25%;
  left: -15%;
  max-width: 35%;
}
.gradiente-1 {
  max-width: 35%;
  position: fixed;
  left: 80%;
  top: 65%;
}
.title {
  color: #e5e7eb;
  font-size: 20px;
}
.text {
  font-size: 15px;
}
